<%= form_for(personal_detail, url: personal_detail_path(personal_detail), html: { method: :put }) do |pd_f| %>
  <%#= render "devise/shared/error_messages", resource: :personal_detail %>
  <div class="mt-3">
    <%= pd_f.label :first_name, class: label_class %><br/>
    <%= pd_f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "John", class: text_field_class %>
  </div>

  <div class="mt-3">
    <%= pd_f.label :last_name, class: label_class %><br/>
    <%= pd_f.text_field :last_name, autofocus: true, autocomplete: "first_name", placeholder: "Doe", class: text_field_class %>
  </div>

  <div class="mt-3">
    <%= pd_f.label :middle_name, class: label_class %><br/>
    <%= pd_f.text_field :middle_name, autofocus: true, autocomplete: "first_name", placeholder: "Bakoshi", class: text_field_class %>
  </div>

  <div class="mt-3">
    <%= pd_f.label :phone_number, class: label_class %><br/>
    <%= pd_f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "0900008988", class: text_field_class %>
  </div>
  <div class="mt-3">
    <%= pd_f.label 'date of Birth', class: label_class %><br/>
    <%= pd_f.date_field :date_of_birth, autofocus: true, placeholder: "DD/MM/YY", class: text_field_class %>
  </div>

  <div class="mt-3">
    <%= pd_f.label 'gender' %><br/>
    <% PersonalDetail.genders.keys.each do |gender| %>
      <div>
        <%= pd_f.radio_button :gender, gender %>
        <%= pd_f.label gender.to_sym %>
      </div>
      <%#= pd_f.collection_radio_buttons :gender, PersonalDetail.genders, :second, :first, autofocus: true, autocomplete: "gender", placeholder: "gender", class: text_field_class %>
    <% end %>
  </div>

  <div class="mt-3">
    <%= pd_f.label :city, class: label_class %><br/>
    <%= pd_f.text_field :city, autofocus: true, autocomplete: "city", placeholder: "city", class: text_field_class %>
  </div>

  <div class="actions">
    <%= pd_f.submit "Update", class: submit_class %>
  </div>
<% end %>