<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 flex flex-col">
  <% products.each do |product| %>
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-center">
      <%= link_to customers_product_path(product) do %>
          <% puts "#{ product.images_as_thumbnail } pictures here" %>
        <%#= product.images.any? ? thumbnail_image_tag(product.images.first) : image_tag("https://via.placeholder.com/200") %>
        <%= product.images.any? ? image_tag(product.images_as_thumbnail.last) : image_tag("https://via.placeholder.com/200") %>
      <% end %>
      </div>
      <div class="px-5 pb-5">
        <%= link_to customers_product_path(product) do %>
          <h5 class="capitalize text-lg md:text-sm lg:text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
            <%= product&.name %>
          </h5>

        <% end %>
        <div class="flex items-center justify-between">
          <span class="font-semibold text-sm text-gray-900 dark:text-white">
            <%= currency_formatter(product&.price) %>
          </span>
          <div data-controller="favourites">
            <% if current_user.present? %>
              <% if current_user.favourites.find_by(product_id: product.id).nil? %>
                <%= turbo_frame_tag do %>
                  <%= render "shared/unliked", product: product %>
                <% end %>
              <% else %>
                <%= turbo_frame_tag do %>
                  <%= render "shared/liked", product: product %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <%= image_tag "unlike.svg", width: 25 %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
