<div class="grid grid-cols-6 gap-4 flex flex-col">
  <% products.each do |product| %>
    <div class="h-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" id="single_product">
      <%= product.images.any? ? thumbnail_image_tag(product.images.sample) : image_tag("https://via.placeholder.com/200") %>
      <div class="p-5 h-1/2">
        <%= link_to product_full_detail_product_path(product) do %>
          <div class="bg-red-50">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              <%= product&.name %>
            </h5>
          </div>

          <span class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <%= product&.price %>
          </span>
        <% end %>
        <div data-controller="favourites">
          <% if current_user.present? %>
                <% if current_user.favourites.find_by(product_id: product.id).nil? %>
                  <%= turbo_frame_tag  do %>
                    <%= render "shared/unliked", product: product %>
                  <% end %>
                <% else %>
                  <%= turbo_frame_tag do%>
                    <%= render "shared/liked", product: product %>
                  <% end %>
                <% end %>
          <% else %>
             <%= link_to new_user_session_path do %>
              <%= image_tag "unlike.svg", width: 25 %>
             <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>