<div class="home_index">
  <div data-controller="categories"
       data-categories-limitedCategories-valeu="<%= Category.all.sample(5) %>"
       data-categories-allCategories-valeu="<%= Category.all %>">

    <div class="mb-8">
      <div class="flex justify-between">
        <h2 class="mb-2 font-bold italic text-2xl underline-offset-8"> Categories </h2>

        <div class="inline border border-slate-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" id="show-more">
          <%= link_to 'Show More', '#', data: { action: "click->categories#toggle", showing_more: "false" } %>
        </div>
      </div>
      <div class="grid grid-cols-6 gap-4 mt-8 mb-2" id="show_limited">
        <%= render partial: 'shared/homepage_category_display', locals: { query: Category.all.order(created_at: :desc).limit(6) } %>
      </div>

      <div class="grid grid-cols-6 gap-4 mt-8 pb-2 hidden" id="show_all">
        <%= render partial: 'shared/homepage_category_display', locals: { query: Category.all.order(created_at: :desc) } %>
      </div>

    </div>
  </div>

  <div class="mt-3">
    <h2 class="my-3 font-bold italic text-2xl underline-offset-8"> Products </h2>
    <%= render "shared/all_products", products: Product.all.each %>
  </div>
</div>