<section class="dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
<!--        <h2 class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">-->
<!--          Find That Plug-->
<!--        </h2>-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in">-->
<!--      <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>-->
<!--      <polyline points="10 17 15 12 10 7"></polyline>-->
<!--      <line x1="15" y1="12" x2="3" y2="12"></line>-->
<!--    </svg>-->
    <div class="w-full bg-white border border-green-600 rounded-lg shadow-2xl dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mt-3">
            <%= f.label :email, class: label_class %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@company.com", class: text_field_class %>
          </div>
          <div class="mt-3">
            <%= f.label :password, class: label_class %><br/>
            <%= f.password_field :password, autocomplete: "current-password", class: text_field_class %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="flex items-center justify-between">
              <div class="flex items-start my-3">
                <div class="flex items-center h-5">
                  <%= f.check_box :remember_me, class: check_box_class %>
                </div>
                <div class="ml-3 text-sm">
                  <%= f.label :remember_me, class: "text-gray-500 dark:text-gray-300" %>
                </div>
              </div>
            </div>
          <% end %>
          <%= f.submit "Sign in", class: submit_class %>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400 my-3">
            Don’t have an account
            yet? <%= link_to "Sign up", new_user_registration_path, class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
