<div class="p-4 sm:ml-64 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

  <div class="flex flex-col items-center pb-10">
   <%= initials_avatar(@user&.personal_detail&.full_name) %>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
      <%= @user&.personal_detail&.full_name %>
    </h5>
    <% if @user.roles.any? %>
    <span class="text-sm text-gray-500 dark:text-gray-400">
      <%= @user.roles.map { |role| role.title.capitalize }.join(",")  %>
    </span>
      <% end %>
    <div class="flex mt-4 md:mt-6">
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-600 dark:focus:ring-slate-600">Email</a>
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">
        <%= @user.email %>
      </a>
    </div>

    <div class="flex mt-4 md:mt-6">
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-600 dark:focus:ring-slate-600">Phone number</a>
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">
        <%= @user.personal_detail.phone_number %>
      </a>
    </div>

    <div class="flex mt-4 md:mt-6">
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-600 dark:focus:ring-slate-600">Date of Birth</a>
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">
        <%= @user.personal_detail.date_of_birth.strftime('%a, %d-%m-%Y') %>
      </a>
    </div>

    <div class="flex mt-4 md:mt-6">
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-slate-600 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-600 dark:focus:ring-slate-600">City</a>
      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">
        <%= @user.personal_detail.city %>
      </a>
    </div>
  </div>
</div>