<div id="<%= dom_id product %>" >
  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <% if product.images.any? %>
      <% product.images.each do |image| %>
        <%= image_tag image, class: "w-40 h-40 mb-1"%>
      <% end %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stock:</strong>
    <%= product.stock %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Vendor:</strong>
    <%= product&.user&.personal_detail&.full_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Category(s):</strong>
    <%= product.categories.map { |category| category.title.capitalize }.join(", ") %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this product", edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
